HEALTHCARE DATASET CLEANING

In [84]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

ESTABLISHING THE CONNECTION TO THE DATABASE

In [86]:
%sql mysql+pymysql://root:your_password_here@localhost:XYZ/healthcare_db

Connecting and switching to connection 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

This section demonstrates how to connect to the MySQL database safely without exposing sensitive credentials. The connection uses placeholder values ​​for the username and password, so the notebook can be shared publicly on GitHub. To run it locally, you only need to replace the placeholders with your own credentials. This approach ensures security while keeping the workflow reproducible and easy to follow.

In [ ]:
# You can run this in Jupyter Notebook
# No password is stored here

import mysql.connector

# Fill in your credentials locally
db_user = "your_username_here"
db_password = "your_password_here"
db_host = "localhost"
db_name = "healthcare_db"

# Connect to the database
try:
    conn = mysql.connector.connect(
        user=db_user,
        password=db_password,
        host=db_host,
        database=db_name
    )
    cursor = conn.cursor()
    print("✅ Database connection successful!")
except mysql.connector.Error as err:
    print("❌ Error: ", err)

TESTING IF IT IS CONNECTED

In [8]:
%%sql
SELECT
*
FROM
Patients
LIMIT 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

1 rows affected.

+---------------+-----+--------+------------+-------------------+-------------------+---------------+-----------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+
|      Name     | Age | Gender | Blood_Type | Medical_Condition | Date_of_Admission |     Doctor    |     Hospital    | Insurance_Provider | Billing_Amount | Room_Number | Admission_Type | Discharge_Date |  Medication | Test_Results |
+---------------+-----+--------+------------+-------------------+-------------------+---------------+-----------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+
| Bobby JacksOn |  30 |  Male  |     B-     |       Cancer      |     2024-01-31    | Matthew Smith | Sons and Miller |     Blue Cross     |     18856      |     328     |     Urgent     |   2024-02-02   | Paracetamol |       Normal
        |
+---------------+-----+--------+------------+-------------------+-------------------+---------------+-----------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+

CREATING A BACKUP TABLE FOR DATA PROTECTION

A backup of the original data was created to prevent accidental loss or corruption during cleaning. This ensures that the raw dataset is preserved and can be restored if needed.

In [9]:
%%sql
CREATE TABLE Patients_Backup AS(
    SELECT
    *
    FROM
    patients);

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

55500 rows affected.

++
||
++
++

CHECK IF IT IS CREATED

In [10]:
%%sql
SELECT
*
FROM
Patients_backup
LIMIT 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

1 rows affected.

+---------------+-----+--------+------------+-------------------+-------------------+---------------+-----------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+
|      Name     | Age | Gender | Blood_Type | Medical_Condition | Date_of_Admission |     Doctor    |     Hospital    | Insurance_Provider | Billing_Amount | Room_Number | Admission_Type | Discharge_Date |  Medication | Test_Results |
+---------------+-----+--------+------------+-------------------+-------------------+---------------+-----------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+
| Bobby JacksOn |  30 |  Male  |     B-     |       Cancer      |     2024-01-31    | Matthew Smith | Sons and Miller |     Blue Cross     |     18856      |     328     |     Urgent     |   2024-02-02   | Paracetamol |       Normal
        |
+---------------+-----+--------+------------+-------------------+-------------------+---------------+-----------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+

CREATING A RANDOM COLUMN FOR PATIENT ID THAT WILL BE USED AS PRIMARY KEY

A new random patient_id column was generated to uniquely identify each patient. This ensures every row has a distinct key, which is essential for linking data and maintaining database integrity.

In [14]:
%%sql
ALTER TABLE patients
ADD COLUMN Patient_id VARCHAR(10);

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

++
||
++
++

In [15]:
%%sql
UPDATE patients
SET Patient_id = CONCAT('P', LPAD(FLOOR(RAND() * 100000), 5, '0'));

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

55500 rows affected.

++
||
++
++

WE START THE CLEANING BY DETECTING THE DUPLICATES

The cleaning process begins by identifying duplicate entries in the dataset. Removing duplicates helps ensure that analyses are accurate and not biased by repeated records.

In [6]:
%%sql

SELECT
Name,
Age,
Gender,
Blood_Type,
Medical_Condition,
Date_of_Admission,
Doctor,
Hospital,
Insurance_Provider,
Billing_Amount,
Room_Number,
Admission_Type,
Discharge_Date,
Medication,
Test_Results,
COUNT(*) AS Duplicate_count
FROM patients
GROUP BY Name,Age,Gender,Blood_Type,Medical_Condition,Date_of_Admission,Doctor,Hospital,Insurance_Provider,Billing_Amount,Room_Number,Admission_Type,Discharge_Date,Medication,Test_Results
HAVING COUNT(*)>1
ORDER BY Duplicate_count DESC
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

+------+-----+--------+------------+-------------------+-------------------+--------+----------+--------------------+----------------+-------------+----------------+----------------+------------+--------------+-----------------+
| Name | Age | Gender | Blood_Type | Medical_Condition | Date_of_Admission | Doctor | Hospital | Insurance_Provider | Billing_Amount | Room_Number | Admission_Type | Discharge_Date | Medication | Test_Results | Duplicate_count |
+------+-----+--------+------------+-------------------+-------------------+--------+----------+--------------------+----------------+-------------+----------------+----------------+------------+--------------+-----------------+
+------+-----+--------+------------+-------------------+-------------------+--------+----------+--------------------+----------------+-------------+----------------+----------------+------------+--------------+-----------------+

We have 534 Duplicates, we have to create a new column that will help us to remove duplicates

In [22]:
%%sql
ALTER TABLE patients
ADD COLUMN Duplicate TINYINT(1) DEFAULT 0;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

++
||
++
++

FILL THE NEW Column

A new column Duplicatewas added to mark records that are duplicates. This allows for easy identification and management of repeated entries, ensuring that only unique data is used in the analysis.

Using a row-numbering method, duplicate records were identified based on all key patient attributes. Any row appearing more than once is flagged in the Duplicatecolumn, making it easier to remove or handle repeated entries.

In [25]:
%%sql
WITH ordered AS(
SELECT
patient_id,
ROW_NUMBER () OVER (
PARTITION BY Name, Age, Gender, Blood_Type, Medical_Condition, Date_of_Admission, Doctor, Hospital, Insurance_Provider, Billing_Amount, Room_Number, Admission_Type, Discharge_Date, Medication, Test_Results, duplicate
ORDER BY patient_id) AS rn
FROM patients
)
UPDATE patients p
JOIN ordered o USING (patient_id)
SET p.duplicate=1
WHERE o.rn>1;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

827 rows affected.

++
||
++
++

DELETE THE DUPLICATES

After identifying duplicates, all flagged duplicate rows were deleted from the dataset. This ensures that each patient is represented only once, improving the accuracy and reliability of the analysis.

All rows marked as duplicates in the Duplicatecolumn were removed from the Patientstable. This step finalizes the deduplication process and ensures a clean dataset for analysis.

In [27]:
%%sql
DELETE FROM Patients
WHERE Duplicate=1;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

827 rows affected.

++
||
++
++

In [ ]:
TEST AGAIN TO SEE IF WE STILL HAVE DUPLICATES

After deleting flagged duplicates, this query checks for any remaining repeated records by grouping on all key patient attributes. It helps confirm that the dataset is fully deduplicated and ready for further cleaning.

In [28]:
%%sql

SELECT
Name,
Age,
Gender,
Blood_Type,
Medical_Condition,
Date_of_Admission,
Doctor,
Hospital,
Insurance_Provider,
Billing_Amount,
Room_Number,
Admission_Type,
Discharge_Date,
Medication,
Test_Results,
COUNT(*) AS Duplicate_count
FROM patients
GROUP BY Name,Age,Gender,Blood_Type,Medical_Condition,Date_of_Admission,Doctor,Hospital,Insurance_Provider,Billing_Amount,Room_Number,Admission_Type,Discharge_Date,Medication,Test_Results
HAVING COUNT(*)>1
ORDER BY Duplicate_count DESC;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

+------+-----+--------+------------+-------------------+-------------------+--------+----------+--------------------+----------------+-------------+----------------+----------------+------------+--------------+-----------------+
| Name | Age | Gender | Blood_Type | Medical_Condition | Date_of_Admission | Doctor | Hospital | Insurance_Provider | Billing_Amount | Room_Number | Admission_Type | Discharge_Date | Medication | Test_Results | Duplicate_count |
+------+-----+--------+------------+-------------------+-------------------+--------+----------+--------------------+----------------+-------------+----------------+----------------+------------+--------------+-----------------+
+------+-----+--------+------------+-------------------+-------------------+--------+----------+--------------------+----------------+-------------+----------------+----------------+------------+--------------+-----------------+

BINGO, WE DONT HAVE ANY DUPLICATE LEFT

WE PROCEED WITH FIXING DATA TYPE

The table columns were modified to use appropriate data types and default values. This ensures that numeric, text, and decimal fields are consistent, reduces errors from invalid entries, and provides meaningful defaults for missing data.

In [35]:
%%sql
ALTER TABLE patients
MODIFY COLUMN Age INT NULL,
MODIFY COLUMN Gender VARCHAR(8) NOT NULL DEFAULT 'unknown',
MODIFY COLUMN Blood_type VARCHAR(5) NOT NULL DEFAULT '',
MODIFY COLUMN Medical_condition VARCHAR(35) NOT NULL DEFAULT 'unknown',
MODIFY COLUMN Billing_amount DECIMAL(10,2) NULL,
MODIFY COLUMN Room_number INT NOT NULL DEFAULT '0',
MODIFY COLUMN Doctor VARCHAR(30) NOT NULL DEFAULT 'unknown',
MODIFY COLUMN Hospital VARCHAR(35) NOT NULL DEFAULT 'unknown',
MODIFY COLUMN Admission_type VARCHAR(20) NOT NULL DEFAULT 'unknown',
MODIFY COLUMN Insurance_provider VARCHAR(30) NOT NULL DEFAULT 'unknown',
MODIFY COLUMN Medication VARCHAR(20) NOT NULL DEFAULT 'unknown',
MODIFY COLUMN Test_results VARCHAR(20) NOT NULL DEFAULT 'unknown';

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

54673 rows affected.

++
||
++
++

NEXT LET REMOVE THE NAME COLUMN

The Namecolumn was removed to protect patient privacy. This step ensures that the dataset cannot identify individuals while retaining all other relevant information for analysis.

In [11]:
%%sql
ALTER TABLE Patients
DROP COLUMN name;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

++
||
++
++

DELETE DUPLICATE COLUMN AS IT HAS NO ROLE NOW

The Duplicate column is no longer needed after deduplication, so it was removed. This keeps the table clean and focused on relevant data for analysis.

In [16]:
%%sql
ALTER TABLE Patients
DROP COLUMN duplicate;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

++
||
++
++

REORDERING COLUMNS:PLACING PATIENT ID FIRST

The patient_id column was moved to the first position in the table for better readability and to emphasize its role as the primary identifier for each patient.

In [19]:
%%sql
ALTER TABLE patients
MODIFY patient_id VARCHAR(50) FIRST;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

++
||
++
++

CHECKING FOR MISSING OR EMPTY VALUE

This query counts the number of empty or NULL entries in each column. Identifying missing values ​​is essential for data cleaning, as it helps determine which fields need correction, filling, or further review.

In [27]:
%%sql
SELECT 
SUM(CASE WHEN Age IS NULL OR Age = '' THEN 1 ELSE 0 END) AS missing_age,
SUM(CASE WHEN Blood_type IS NULL OR Blood_type = '' THEN 1 ELSE 0 END) AS missing_blood_type,
SUM(CASE WHEN Medical_condition IS NULL OR Medical_condition = '' THEN 1 ELSE 0 END) AS missing_Medical_condition,
SUM(CASE WHEN Doctor IS NULL OR Doctor = '' THEN 1 ELSE 0 END) AS missing_Doctor,
SUM(CASE WHEN Hospital IS NULL OR Hospital = '' THEN 1 ELSE 0 END) AS missing_Hospital,
SUM(CASE WHEN Insurance_provider IS NULL OR Insurance_provider = '' THEN 1 ELSE 0 END) AS missing_Insurance_provider,
SUM(CASE WHEN Billing_amount IS NULL OR Billing_amount = '' THEN 1 ELSE 0 END) AS missing_Billing_amount,
SUM(CASE WHEN Room_number IS NULL OR Room_number = '' THEN 1 ELSE 0 END) AS missing_Room_number,
SUM(CASE WHEN Admission_type IS NULL OR Admission_type = '' THEN 1 ELSE 0 END) AS missing_Admission_type,
SUM(CASE WHEN Medication IS NULL OR Medication = '' THEN 1 ELSE 0 END) AS missing_Medication,
SUM(CASE WHEN Test_results IS NULL OR Test_results = '' THEN 1 ELSE 0 END) AS missing_Test_results
FROM patients;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

1 rows affected.

+-------------+--------------------+---------------------------+----------------+------------------+----------------------------+------------------------+---------------------+------------------------+--------------------+----------------------+
| missing_age | missing_blood_type | missing_Medical_condition | missing_Doctor | missing_Hospital | missing_Insurance_provider | missing_Billing_amount | missing_Room_number | missing_Admission_type | missing_Medication | missing_Test_results |
+-------------+--------------------+---------------------------+----------------+------------------+----------------------------+------------------------+---------------------+------------------------+--------------------+----------------------+
|      0      |         0          |             0             |       0        |        0         |             0              |           0            |          0          |           0            |         0          |          0           |
+-------------+--------------------+---------------------------+----------------+------------------+----------------------------+------------------------+---------------------+------------------------+--------------------+----------------------+

INSPECTING UNIQUE VALUES FOR POTENTIAL INCONSISTENCIES

This query retrieves distinct hospital names to check for inconsistencies, misspellings, or variations in naming. Identifying such issues helps standardize categorical data and maintain data quality.

In [73]:
%%sql
SELECT 
DISTINCT Hospital
    FROM patients
 ORDER BY 1
LIMIT 20;

--here we see that there more than one hospital name in the cell and they are incosistent --

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

20 rows affected.

+-------------------------------+
|            Hospital           |
+-------------------------------+
| Abbott and Thompson, Sullivan |
|           Abbott Inc          |
|           Abbott Ltd          |
|   Abbott Moore and Williams,  |
|        Abbott-Castillo        |
|         Abbott-Coleman        |
|         Abbott-Ferrell        |
|          Abbott-Hill          |
|          Abbott-Jones         |
|         Abbott-Martin         |
|          Abbott-Rios          |
|         Abbott-Wilson         |
|   Abbott, Peters and Hoffman  |
|  Abbott, Vazquez Bautista and |
|   Acevedo and Ellis, Snyder   |
|  Acevedo and Hart, Hernandez  |
|   Acevedo and Howard Burke,   |
|  Acevedo and Larson Andrews,  |
|   Acevedo and Lewis Barker,   |
|         Acevedo Group         |
+-------------------------------+

CREATING A NORMALIZED HOSPITAL COLUMN

A new column Hospital_Normalizedwas added to store standardized hospital names. Normalizing categorical data helps avoid inconsistencies, making analysis and reporting more accurate and reliable.

In [72]:
%%sql 
ALTER TABLE patients
ADD COLUMN Hospital_Normalized CHAR(200);

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

RuntimeError: (pymysql.err.OperationalError) (1060, "Duplicate column name 'Hospital_Normalized'")
[SQL: ALTER TABLE patients
ADD COLUMN Hospital_Normalized CHAR(200);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

STANDARDIZING HOSPITAL NAMES

Hospital names were cleaned by removing special characters, trimming spaces, and converting all text to lowercase. This ensures consistency and makes it easier to match and analyze hospital data accurately.

In [74]:
%%sql
UPDATE patients
SET hospital_normalized = LOWER(
    REGEXP_REPLACE(TRIM(hospital), '[^a-zA-Z0-9 ]', '')
);

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

54673 rows affected.

++
||
++
++

CREATING REFERENCE TABLES FOR STANDARDIZATION

Reference tables were created for hospitals, doctors, admission types, and blood types. These tables store unique values ​​and serve as standardized IDs, ensuring consistency and reducing errors in categorical data across the dataset.

In [28]:
%%sql
-- Hospitals (minimal)
CREATE TABLE hospital_ref (
  hospital_id INT AUTO_INCREMENT PRIMARY KEY,
  hospital_name VARCHAR(255) NOT NULL UNIQUE,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB;

-- Doctors (minimal)
CREATE TABLE doctor_ref (
  doctor_id INT AUTO_INCREMENT PRIMARY KEY,
  doctor_name VARCHAR(255) NOT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  UNIQUE KEY (doctor_name)
) ENGINE=InnoDB;

-- Admission types 
CREATE TABLE admission_type_ref (
  admission_type_id TINYINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  admission_type VARCHAR(100) NOT NULL UNIQUE
) ENGINE=InnoDB;

-- Blood types 
CREATE TABLE blood_type_ref (
  blood_type CHAR(3) PRIMARY KEY
) ENGINE=InnoDB;

INSERT IGNORE INTO blood_type_ref VALUES 
  ('A+'),('A-'),('B+'),('B-'),('O+'),('O-'),('AB+'),('AB-');

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

8 rows affected.

++
||
++
++

LET POPULATE REFERENCE TABLES FROM EXISTING FREE TEXT

Distinct hospital names from the cleaned patientstable were inserted into the hospital_reftable. This step converts free-text entries into standardized references, ensuring consistent and reliable hospital identifiers for analysis.

In [78]:
%%sql
INSERT IGNORE INTO hospital_ref (hospital_name)
SELECT DISTINCT hospital_normalized
FROM patients
WHERE hospital_normalized IS NOT NULL AND hospital_normalized <> '';

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

39713 rows affected.

++
||
++
++

CREATING HOSPITAL MAPPING TABLE

A mapping table was created to link the original hospital names ( raw_hospital) to their cleaned versions ( hospital_normalized) and eventually to a canonical hospital name. This helps maintain traceability and ensures consistent references across the dataset.

In [80]:
%%sql
CREATE TABLE hospital_map (
  raw_hospital VARCHAR(255) PRIMARY KEY,
  hospital_normalized VARCHAR(255),
  canonical_hospital VARCHAR(255)
);
--let Populate it from your patients table--
INSERT IGNORE INTO hospital_map (raw_hospital, hospital_normalized)
SELECT DISTINCT hospital, hospital_normalized
FROM patients;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

39715 rows affected.

++
||
++
++

Assigning Canonical Hospital Names

The canonical_hospitalcolumn was populated with the normalized hospital names. This establishes a single, standard reference for each hospital, ensuring consistency in analysis and reporting.

In [82]:
%%sql
UPDATE hospital_map m
SET canonical_hospital = m.hospital_normalized
WHERE canonical_hospital IS NULL;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

39715 rows affected.

++
||
++
++

ASSIGNING HOSPITAL IDs to PATIENTS

Hospital IDs from the hospital_reftable were assigned to each patient by joining through the mapping table. This replaces free-text hospital names with standardized IDs, enabling consistent and reliable analysis.

In [83]:
%%sql
ALTER TABLE patients ADD COLUMN hospital_id INT;

--Then let join the cleaned names to assign IDs--

UPDATE patients p
JOIN hospital_map m ON p.hospital = m.raw_hospital
JOIN hospital_ref r ON r.hospital_name = m.canonical_hospital
SET p.hospital_id = r.hospital_id;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

54673 rows affected.

++
||
++
++

ADD FOREIGN KEY COLUMNS FOR REFERENCE TABLES

New columns ( doctor_id, admission_type_id, blood_type_code) were added to the patients table. These will serve as foreign keys to link patients to their respective reference tables, ensuring standardized and consistent categorical data.

In [88]:
%%sql
--these will be used as Foreign Keys--
ALTER TABLE patients
ADD COLUMN doctor_id INT NULL,
ADD COLUMN admission_type_id TINYINT UNSIGNED NULL,
ADD COLUMN blood_type_code CHAR(3) NULL;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

++
||
++
++

POPULATING DOCTOR REFERENCE TABLE

Unique doctor names from the patientstable were inserted into the doctor_reftable. This step standardizes doctor entries and prepares the dataset for linking patients to a consistent set of doctor IDs.

In [111]:
%%sql
INSERT IGNORE INTO doctor_ref (doctor_name)
SELECT DISTINCT doctor
FROM patients
WHERE TRIM(doctor) <> '';

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

40180 rows affected.

++
||
++
++

Each patient was linked to a unique doctor_id from the doctor_ref table by matching doctor names. This replaces free-text doctor names with standardized IDs for consistent analysis and database integrity.

In [112]:
%%sql

UPDATE patients p
JOIN doctor_ref d ON p.doctor = d.doctor_name
SET p.doctor_id = d.doctor_id;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

54673 rows affected.

++
||
++
++

Table POPULATING ADMISSION TYPE REFERENCE TABLE

Common admission types ( Urgent, Emergency, Elective) were added to the admission_type_reftable. This creates a standardized list of admission types for consistent linking and analysis.

In [106]:
%%sql
INSERT IGNORE INTO admission_type_ref (admission_type)
VALUES
('Urgent'),
('Emergency'),
('Elective');

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

3 rows affected.

++
||
++
++

Assigning Admission Type IDs to Patients

Each patient was linked to the corresponding admission_type_idfrom the admission_type_reftable. This replaces free-text admission types with standardized IDs, ensuring consistency in the dataset.

In [108]:
%%sql

UPDATE patients p
JOIN admission_type_ref a
  ON p.Admission_type = a.admission_type
SET p.admission_type_id = a.admission_type_id;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

54673 rows affected.

++
||
++
++

ASSIGNING BLOOD TYPE CODES TO PATIENTS

Each patient was linked to the standardized blood_type_codefrom the blood_type_reftable. This replaces free-text blood type entries with consistent codes for accurate analysis and reference.

In [99]:
%%sql

UPDATE patients p
JOIN blood_type_ref b ON p.blood_type = b.blood_type
SET p.blood_type_code = b.blood_type;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

54673 rows affected.

++
||
++
++

ADDING FOREIGN KEY CONSTRAINTS AND INDEXES

Indexes were created on key columns and foreign key constraints were added to link the patientstable with reference tables. This ensures referential integrity, improves query performance, and enforces consistent relationships across the database.

In [114]:
%%sql
ALTER TABLE patients
  ADD INDEX idx_hospital_id (hospital_id),
  ADD INDEX idx_doctor_id (doctor_id),
  ADD INDEX idx_admission_type_id (admission_type_id),
  ADD INDEX idx_blood_type_code (blood_type_code);

ALTER TABLE patients
  ADD CONSTRAINT fk_patients_hospital FOREIGN KEY (hospital_id) REFERENCES hospital_ref(hospital_id),
  ADD CONSTRAINT fk_patients_doctor   FOREIGN KEY (doctor_id)   REFERENCES doctor_ref(doctor_id),
  ADD CONSTRAINT fk_patients_admission_type FOREIGN KEY (admission_type_id) REFERENCES admission_type_ref(admission_type_id),
  ADD CONSTRAINT fk_patients_blood_type FOREIGN KEY (blood_type_code) REFERENCES blood_type_ref(blood_type);

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

54673 rows affected.

++
||
++
++

PREVIEWING THE CLEANED PATIENTS TABLE

A sample of 100 rows from the patients table is displayed to review the results of the cleaning and standardization process. This allows verification of the applied transformations and ensures data is ready for analysis.

In [8]:
%%sql
SELECT
*
FROM
patients
LIMIT 100;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

100 rows affected.

+------------+-----+--------+------------+-------------------+-------------------+---------------------+--------------------------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+-------------------------------+-------------+-----------+-------------------+-----------------+
| patient_id | Age | Gender | Blood_type | Medical_condition | Date_of_Admission |        Doctor       |            Hospital            | Insurance_provider | Billing_amount | Room_number | Admission_type | Discharge_Date |  Medication | Test_results |      Hospital_Normalized      | hospital_id | doctor_id | admission_type_id | blood_type_code |
+------------+-----+--------+------------+-------------------+-------------------+---------------------+--------------------------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+-------------------------------+-------------+-----------+-------------------+-----------------+
|   P75010   |  30 |  Male  |     B-     |       Cancer      |     2024-01-31    |    Matthew Smith    |        Sons and Miller         |     Blue Cross     |    18856.00    |     328     |     Urgent     |   2024-02-02   | Paracetamol |       Normal
        |        sons and miller        |    34331    |   26505   |         1         |        B-       |
|   P29608   |  62 |  Male  |     A+     |      Obesity      |     2019-08-20    |   Samantha Davies   |            Kim Inc             |      Medicare      |    33643.00    |     265     |   Emergency    |   2019-08-26   |  Ibuprofen  |       Inconclusive
        |            kim inc            |    20761    |   33517   |         2         |        A+       |
|   P23008   |  76 | Female |     A-     |      Obesity      |     2022-09-22    |   Tiffany Mitchell  |            Cook PLC            |       Aetna        |    27955.00    |     205     |   Emergency    |   2022-07-10   |   Aspirin   |       Normal
        |            cook plc           |    10273    |   37684   |         2         |        A-       |
|   P26216   |  28 | Female |     O+     |      Diabetes     |     2020-11-18    |     Kevin Wells     |   Hernandez Rogers and Vang,   |      Medicare      |    37910.00    |     450     |    Elective    |   2020-12-18   |  Ibuprofen  |       Abnormal
        |   hernandez rogers and vang   |    17108    |   22420   |         3         |        O+       |
|   P62056   |  43 | Female |    AB+     |       Cancer      |     2022-09-19    |    Kathleen Hanna   |          White-White           |       Aetna        |    14238.00    |     458     |     Urgent     |   2022-09-10   |  Penicillin |       Abnormal
        |           whitewhite          |    38273    |   21172   |         1         |       AB+       |
|   P31633   |  36 |  Male  |     A+     |       Asthma      |     2023-12-20    |    Taylor Newton    |         Nunez-Humphrey         |  UnitedHealthcare  |    48145.00    |     389     |     Urgent     |   2023-12-24   |  Ibuprofen  |       Normal
        |         nunezhumphrey         |    27443    |   36979   |         1         |        A+       |
|   P71998   |  21 | Female |    AB-     |      Diabetes     |     2020-11-03    |     Kelly Olson     |        Group Middleton         |      Medicare      |    19581.00    |     389     |   Emergency    |   2020-11-15   | Paracetamol |       Inconclusive
        |        group middleton        |    15518    |   21868   |         2         |       AB-       |
|   P65090   |  20 | Female |     A+     |       Cancer      |     2021-12-28    |    Suzanne Thomas   |  Powell Robinson and Valdez,   |       Cigna        |    45820.00    |     277     |   Emergency    |   2022-07-01   | Paracetamol |       Inconclusive
        |   powell robinson and valdez  |    29816    |   36519   |         2         |        A+       |
|   P09457   |  82 |  Male  |    AB+     |       Asthma      |     2020-07-01    |   Daniel Ferguson   |         Sons Rich and          |       Cigna        |    50119.00    |     316     |    Elective    |   2020-07-14   |   Aspirin   |       Abnormal
        |         sons rich and         |    34673    |    9219   |         3         |       AB+       |
|   P52014   |  58 | Female |    AB-     |       Cancer      |     2021-05-23    |     Heather Day     |         Padilla-Walker         |  UnitedHealthcare  |    19785.00    |     249     |    Elective    |   2021-06-22   | Paracetamol |       Inconclusive
        |         padillawalker         |    27943    |   14616   |         3         |       AB-       |
|   P31702   |  72 |  Male  |     O+     |       Cancer      |     2020-04-19    |     John Duncan     |        Schaefer-Porter         |      Medicare      |    12577.00    |     394     |     Urgent     |   2020-04-22   | Paracetamol |       Normal
        |         schaeferporter        |    32594    |   18651   |         1         |        O+       |
|   P02467   |  38 | Female |     A-     |    Hypertension   |     2023-08-13    |     Douglas Mayo    |          Lyons-Blair           |      Medicare      |    8000.00     |     288     |     Urgent     |   2023-05-09   |   Lipitor   |       Inconclusive
        |           lyonsblair          |    23550    |   11511   |         1         |        A-       |
|   P17228   |  75 | Female |     A+     |      Diabetes     |     2019-12-12    |   Kenneth Fletcher  |   Powers Miller, and Flores    |       Cigna        |    43282.00    |     134     |   Emergency    |   2019-12-28   |  Penicillin |       Abnormal
        |    powers miller and flores   |    29865    |   22046   |         2         |        A+       |
|   P78740   |  68 | Female |    AB+     |       Asthma      |     2020-05-22    |   Theresa Freeman   |        Rivera-Gutierrez        |  UnitedHealthcare  |    33208.00    |     309     |     Urgent     |   2020-06-19   |   Lipitor   |       Normal
        |        riveragutierrez        |    30990    |   37294   |         1         |       AB+       |
|   P42018   |  44 | Female |    AB+     |       Cancer      |     2021-10-08    |   Roberta Stewart   |        Morris-Arellano         |  UnitedHealthcare  |    40702.00    |     182     |     Urgent     |   2021-10-13   | Paracetamol |       Normal
        |         morrisarellano        |    26428    |   32764   |         1         |       AB+       |
|   P73870   |  46 | Female |    AB-     |      Obesity      |     2023-01-01    |   Maria Dougherty   |         Cline-Williams         |     Blue Cross     |    12263.00    |     465     |    Elective    |   2023-11-01   |   Aspirin   |       Inconclusive
        |         clinewilliams         |     9812    |   25384   |         3         |       AB-       |
|   P43297   |  63 | Female |     A+     |     Arthritis     |     2020-06-23    |    Erica Spencer    |        Cervantes-Wells         |  UnitedHealthcare  |    24500.00    |     114     |    Elective    |   2020-07-14   | Paracetamol |       Normal
        |         cervanteswells        |     9236    |   13043   |         3         |        A+       |
|   P94877   |  38 |  Male  |    AB-     |      Obesity      |     2020-03-08    |      Justin Kim     |   Torres, and Harrison Jones   |       Cigna        |    17440.00    |     449     |     Urgent     |   2020-02-04   | Paracetamol |       Abnormal
        |   torres and harrison jones   |    36142    |   20529   |         1         |       AB-       |
|   P44493   |  34 | Female |     A-     |    Hypertension   |     2021-03-04    |   Justin Moore Jr.  |          Houston PLC           |     Blue Cross     |    18843.00    |     260     |    Elective    |   2021-03-14   |   Aspirin   |       Abnormal
        |          houston plc          |    17936    |   20552   |         3         |        A-       |
|   P37835   |  63 |  Male  |     B+     |       Asthma      |     2022-11-15    |   Denise Galloway   |          Hammond Ltd           |       Cigna        |    23762.00    |     465     |    Elective    |   2022-11-22   |  Penicillin |       Normal
        |          hammond ltd          |    16092    |   10591   |         3         |        B+       |
|   P55697   |  67 | Female |     A-     |       Asthma      |     2023-06-28    |     Krista Smith    |           Jones LLC            |     Blue Cross     |     43.00      |     115     |    Elective    |   2023-02-07   |   Aspirin   |       Normal
        |           jones llc           |    20094    |   22833   |         3         |        A-       |
|   P64982   |  48 |  Male  |     B+     |       Asthma      |     2020-01-21    |    Gregory Smith    |         Williams-Davis         |       Aetna        |    17696.00    |     295     |     Urgent     |   2020-09-02   |   Lipitor   |       Normal
        |         williamsdavis         |    38616    |   14348   |         1         |        B+       |
|   P57818   |  58 | Female |     O+     |     Arthritis     |     2022-05-12    |    Vanessa Newton   |           Clark-Mayo           |       Aetna        |    5998.00     |     327     |     Urgent     |   2022-10-06   |   Lipitor   |       Inconclusive
        |           clarkmayo           |     9731    |   38973   |         1         |        O+       |
|   P94143   |  59 |  Male  |     A+     |       Asthma      |     2021-08-02    |  Donna Martinez MD  |         and Sons Smith         |       Aetna        |    25250.00    |     119     |     Urgent     |   2021-12-08   |   Lipitor   |       Inconclusive
        |         and sons smith        |     4564    |   11372   |         1         |        A+       |
|   P97263   |  72 | Female |    AB+     |    Hypertension   |     2020-05-15    |   Stephanie Kramer  |          Wilson Group          |      Medicare      |    33211.00    |     109     |   Emergency    |   2020-08-06   | Paracetamol |       Inconclusive
        |          wilson group         |    38896    |   35741   |         2         |       AB+       |
|   P03885   |  73 |  Male  |    AB+     |      Obesity      |     2020-05-15    |   Angela Contreras  |         Garner-Bowman          |      Medicare      |    19747.00    |     162     |     Urgent     |   2020-05-20   |   Aspirin   |       Abnormal
        |          garnerbowman         |    13883    |    2360   |         1         |       AB+       |
|   P27637   |  51 | Female |     O-     |       Asthma      |     2023-12-23    |     Wendy Glenn     |    Brown, and Jones Weaver     |     Blue Cross     |    26787.00    |     401     |    Elective    |   2024-01-19   |  Ibuprofen  |       Normal
        |     brown and jones weaver    |     7707    |   39489   |         3         |        O-       |
|   P26530   |  34 | Female |     A+     |      Diabetes     |     2022-06-21    |     James Ellis     |         Serrano-Dixon          |  UnitedHealthcare  |    18835.00    |     157     |   Emergency    |   2022-06-30   |   Lipitor   |       Abnormal
        |          serranodixon         |    32923    |   15627   |         2         |        A+       |
|   P49742   |  38 | Female |     O-     |    Hypertension   |     2021-01-03    |   Jared Bruce Jr.   |         Gardner-Miller         |       Cigna        |    32643.00    |     223     |   Emergency    |   2021-01-16   |  Penicillin |       Normal
        |         gardnermiller         |    13858    |   16187   |         2         |        O-       |
|   P69119   |  63 | Female |     B+     |    Hypertension   |     2023-10-03    |   Brandy Mitchell   |         Guerrero-Boone         |       Aetna        |    5767.00     |     293     |    Elective    |   2023-12-10   | Paracetamol |       Abnormal
        |         guerreroboone         |    15745    |    4673   |         3         |        B+       |
|   P96368   |  34 |  Male  |     B-     |       Asthma      |     2019-08-18    |     Jacob Huynh     |            Hart Ltd            |       Cigna        |    47909.00    |     371     |     Urgent     |   2019-01-09   |  Ibuprofen  |       Inconclusive
        |            hart ltd           |    16608    |   15288   |         1         |        B-       |
|   P74485   |  23 | Female |     A+     |     Arthritis     |     2019-11-03    |   Kristina Frazier  |         Cruz-Santiago          |  UnitedHealthcare  |    25835.00    |     108     |     Urgent     |   2019-11-29   |  Penicillin |       Abnormal
        |          cruzsantiago         |    10704    |   23075   |         1         |        A+       |
|   P83323   |  78 |  Male  |    AB-     |     Arthritis     |     2023-05-18    |     John Hartman    |          Group Duncan          |      Medicare      |    17993.00    |     245     |    Elective    |   2023-06-15   |  Penicillin |       Normal
        |          group duncan         |    15310    |   18712   |         3         |       AB-       |
|   P93159   |  43 |  Male  |    AB-     |       Cancer      |     2023-05-24    |    Heather Garcia   |         Lopez-Phillips         |      Medicare      |    21186.00    |     494     |    Elective    |   2023-03-06   |  Ibuprofen  |       Normal
        |         lopezphillips         |    22718    |   14634   |         3         |       AB-       |
|   P15828   |  30 | Female |    AB+     |      Diabetes     |     2020-01-17    |      Lynn Young     |           Poole Inc            |     Blue Cross     |    8409.00     |     285     |   Emergency    |   2020-10-02   |   Lipitor   |       Normal
        |           poole inc           |    29682    |   24992   |         2         |       AB+       |
|   P99661   |  25 | Female |    AB+     |       Asthma      |     2021-01-07    |     Emma Allison    |          Sons and Cox          |      Medicare      |    45453.00    |     228     |    Elective    |   2021-01-26   |   Lipitor   |       Abnormal
        |          sons and cox         |    34209    |   12736   |         3         |       AB+       |
|   P50823   |  33 |  Male  |    AB+     |      Diabetes     |     2019-10-14    |     Laura Myers     |           LLC Martin           |       Aetna        |    4398.00     |     481     |     Urgent     |   2019-10-19   | Paracetamol |       Inconclusive
        |           llc martin          |    22229    |   23607   |         1         |       AB+       |
|   P55131   |  26 | Female |     B-     |    Hypertension   |     2021-12-19    |    Travis Parsons   |         Espinoza-Stone         |       Aetna        |    9380.00     |     212     |     Urgent     |   2022-01-16   |  Ibuprofen  |       Normal
        |         espinozastone         |    12253    |   38549   |         1         |        B-       |
|   P23188   |  70 | Female |     O-     |      Diabetes     |     2022-03-12    |  Christine Johnson  | and Garcia Morris Cunningham,  |       Cigna        |    48291.00    |     113     |   Emergency    |   2022-03-29   |   Lipitor   |       Abnormal
        |  and garcia morris cunningham |     1773    |    7454   |         2         |        O-       |
|   P50545   |  57 | Female |     B-     |      Obesity      |     2021-01-17    |     Emily Taylor    |          Walton-Meyer          |      Medicare      |    32974.00    |     272     |     Urgent     |   2021-01-29   |  Penicillin |       Abnormal
        |          waltonmeyer          |    37321    |   12713   |         1         |        B-       |
|   P83165   |  74 | Female |     B-     |    Hypertension   |     2021-09-15    |   William Reynolds  |           PLC Young            |       Cigna        |    49943.00    |     478     |   Emergency    |   2021-05-10   |   Lipitor   |       Normal
        |           plc young           |    29655    |   39854   |         2         |        B-       |
|   P64187   |  81 |  Male  |     A+     |    Hypertension   |     2020-01-27    |   Jennifer Carter   |         Meadows Group          |       Cigna        |    35634.00    |     196     |     Urgent     |   2020-09-02   |   Aspirin   |       Normal
        |         meadows group         |    25018    |   17118   |         1         |        A+       |
|   P71442   |  49 | Female |     A-     |       Asthma      |     2022-06-24    |    Matthew Thomas   |   and Howell Brooks, Rogers    |       Cigna        |    25966.00    |     418     |    Elective    |   2022-07-18   | Paracetamol |       Normal
        |    and howell brooks rogers   |     2306    |   26516   |         3         |        A-       |
|   P64651   |  26 | Female |    AB+     |      Obesity      |     2021-06-09    |      Mary Logan     |    and Mcclure White Boone,    |  UnitedHealthcare  |    21784.00    |     410     |     Urgent     |   2021-01-07   | Paracetamol |       Normal
        |    and mcclure white boone    |     3013    |   26105   |         1         |       AB+       |
|   P08926   |  81 | Female |    AB-     |       Cancer      |     2020-08-23    |   Kristin Martinez  |    Gates Brown, and Stuart     |      Medicare      |    42685.00    |     328     |     Urgent     |   2020-08-09   |  Penicillin |       Abnormal
        |     gates brown and stuart    |    13991    |   23025   |         1         |       AB-       |
|   P50681   |  65 |  Male  |     O+     |       Cancer      |     2022-10-12    |    Daniel Murphy    |        Group Armstrong         |      Medicare      |    45586.00    |     300     |   Emergency    |   2022-02-11   |  Penicillin |       Normal
        |        group armstrong        |    15188    |    9333   |         2         |        O+       |
|   P26627   |  31 | Female |     O+     |    Hypertension   |     2021-12-01    |   Emily Patterson   |          Ltd Schwartz          |       Cigna        |    29615.00    |     211     |    Elective    |   2021-09-12   | Paracetamol |       Normal
        |          ltd schwartz         |    23306    |   12674   |         3         |        O+       |
|   P81092   |  58 |  Male  |     A-     |      Diabetes     |     2020-05-04    |    Heather Smith    |        Nelson-Phillips         |       Cigna        |    36992.00    |     413     |     Urgent     |   2020-05-13   |   Aspirin   |       Normal
        |         nelsonphillips        |    27049    |   14744   |         1         |        A-       |
|   P25579   |  22 |  Male  |     O+     |    Hypertension   |     2023-09-09    |      John Smith     |    Knight and Nguyen, Riggs    |  UnitedHealthcare  |    28051.00    |     157     |     Urgent     |   2023-09-23   |  Ibuprofen  |       Abnormal
        |    knight and nguyen riggs    |    21017    |   18907   |         1         |        O+       |
|   P84619   |  77 | Female |     O+     |       Asthma      |     2019-07-19    |    Cameron Young    |           Lopez PLC            |       Cigna        |    16320.00    |     138     |     Urgent     |   2019-07-29   |  Ibuprofen  |       Abnormal
        |           lopez plc           |    22654    |    5845   |         1         |        O+       |
|   P46359   |  30 |  Male  |    AB-     |    Hypertension   |     2024-04-05    |     Vicki Nguyen    | Fernandez and Phillips, Singh  |      Medicare      |    30591.00    |     456     |   Emergency    |   2024-04-22   | Paracetamol |       Inconclusive
        |  fernandez and phillips singh |    12541    |   39089   |         2         |       AB-       |
|   P77938   |  42 | Female |     A-     |       Cancer      |     2019-06-15    |      Mary Moss      |         Beck-Galloway          |       Aetna        |    14681.00    |     234     |   Emergency    |   2019-05-07   |  Ibuprofen  |       Abnormal
        |          beckgalloway         |     6589    |   26134   |         2         |        A-       |
|   P50615   |  67 | Female |    AB+     |       Cancer      |     2022-10-29    |   Alexander Garcia  | Decker Glover, and Christensen |       Aetna        |    21880.00    |     492     |     Urgent     |   2022-11-20   |  Penicillin |       Inconclusive

CHECKING FOR NULL VALUES IN KEY COLUMNS

This query counts the number of NULL entries in important patient columns. Identifying missing values ensures that critical information is complete and helps prioritize further data cleaning or imputation.

In [13]:
%%sql
SELECT 
    SUM(CASE WHEN Medical_condition IS NULL THEN 1 ELSE 0 END) AS null_count_Medical_condition,
    SUM(CASE WHEN Doctor IS NULL THEN 1 ELSE 0 END) AS null_count_Doctor,
    SUM(CASE WHEN Hospital IS NULL THEN 1 ELSE 0 END) AS null_count_Hospital,
    SUM(CASE WHEN Insurance_provider IS NULL THEN 1 ELSE 0 END) AS null_count_Insurance_provider,
    SUM(CASE WHEN Medication IS NULL THEN 1 ELSE 0 END) AS null_count_medication,
    SUM(CASE WHEN Test_results IS NULL THEN 1 ELSE 0 END) AS null_count_test_results
FROM patients;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

1 rows affected.

+------------------------------+-------------------+---------------------+-------------------------------+-----------------------+-------------------------+
| null_count_Medical_condition | null_count_Doctor | null_count_Hospital | null_count_Insurance_provider | null_count_medication | null_count_test_results |
+------------------------------+-------------------+---------------------+-------------------------------+-----------------------+-------------------------+
|              0               |         0         |          0          |               0               |           0           |            0            |
+------------------------------+-------------------+---------------------+-------------------------------+-----------------------+-------------------------+

VALIDATING CATEGORICAL COLUMNS

Distinct values in the Admission_type column are retrieved to check for inconsistencies or unexpected entries. This helps ensure that categorical data is clean, standardized, and free of outliers.

In [23]:
%%sql
SELECT
 DISTINCT Admission_type
FROM patients;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

5 rows affected.

+-------------+
|  Medication |
+-------------+
| Paracetamol |
|  Ibuprofen  |
|   Aspirin   |
|  Penicillin |
|   Lipitor   |
+-------------+

Distinct values in the blood_type column are retrieved to check for inconsistencies or invalid entries. This ensures that all blood type data is standardized and ready for analysis.

In [24]:
%%sql
SELECT
DISTINCT blood_type
FROM patients;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

8 rows affected.

+------------+
| blood_type |
+------------+
|     B-     |
|     A+     |
|     A-     |
|     O+     |
|    AB+     |
|    AB-     |
|     B+     |
|     O-     |
+------------+

Distinct values in the gender column are retrieved to identify any unexpected or inconsistent entries. This ensures that the gender data is clean, standardized, and reliable for analysis.

In [25]:
%%sql
SELECT
DISTINCT gender
FROM patients;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

2 rows affected.

+--------+
| gender |
+--------+
|  Male  |
| Female |
+--------+

Distinct values in the Medical_condition column are retrieved to check for inconsistencies, typos, or unusual entries. This helps ensure that medical condition data is standardized and accurate for analysis.

In [26]:
%%sql
SELECT
DISTINCT Medical_condition
FROM patients;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

6 rows affected.

+-------------------+
| Medical_condition |
+-------------------+
|       Cancer      |
|      Obesity      |
|      Diabetes     |
|       Asthma      |
|    Hypertension   |
|     Arthritis     |
+-------------------+

Distinct values in the Medication column are retrieved to identify inconsistencies, typos, or unexpected entries. This ensures that medication data is clean, standardized, and reliable for further analysis.

In [27]:
%%sql
SELECT
DISTINCT Medication
FROM patients;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

5 rows affected.

+-------------+
|  Medication |
+-------------+
| Paracetamol |
|  Ibuprofen  |
|   Aspirin   |
|  Penicillin |
|   Lipitor   |
+-------------+

VALIDATING NUMERICAL COLUMNS

Maximum and minimum values for Age, Room_number, and Billing_amount are retrieved to detect potential outliers. Identifying extreme values helps ensure numerical data is reasonable and ready for accurate analysis.

In [30]:
%%sql
SELECT
MAX(age),
MIN(Age),
MAX(room_number),
MIN(room_number),
MAX(billing_amount),
MIN(billing_amount)
FROM
Patients;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

1 rows affected.

+----------+----------+------------------+------------------+---------------------+---------------------+
| MAX(age) | MIN(Age) | MAX(room_number) | MIN(room_number) | MAX(billing_amount) | MIN(billing_amount) |
+----------+----------+------------------+------------------+---------------------+---------------------+
|    89    |    13    |       500        |       101        |       52764.00      |       -2008.00      |
+----------+----------+------------------+------------------+---------------------+---------------------+

IDENTIFYING NEGATIVE BILLING_AMOUNT

Rows with a negative Billing_amount are retrieved to investigate potential errors or outliers. Billing amounts should not be negative, so this step helps identify entries that may need correction or further review.

In [32]:
%%sql
SELECT
Billing_amount
FROM
patients
WHERE Billing_amount<0;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

106 rows affected.

+----------------+
| Billing_amount |
+----------------+
|    -503.00     |
|    -1018.00    |
|    -306.00     |
|    -109.00     |
|    -577.00     |
|    -136.00     |
|    -371.00     |
|    -1310.00    |
|    -692.00     |
|    -354.00     |
|    -379.00     |
|    -367.00     |
|    -198.00     |
|     -43.00     |
|    -857.00     |
|    -155.00     |
|    -212.00     |
|    -656.00     |
|    -228.00     |
|    -147.00     |
|    -125.00     |
|     -76.00     |
|     -26.00     |
|    -136.00     |
|    -215.00     |
|    -892.00     |
|    -556.00     |
|    -225.00     |
|     -32.00     |
|    -101.00     |
|    -211.00     |
|    -677.00     |
|    -131.00     |
|    -234.00     |
|    -125.00     |
|     -68.00     |
|    -578.00     |
|     -43.00     |
|     -54.00     |
|    -533.00     |
|    -599.00     |
|    -887.00     |
|    -1317.00    |
|     -76.00     |
|    -318.00     |
|     -90.00     |
|     -24.00     |
|    -601.00     |
|    -953.00     |
|    -492.00     |
|    -856.00     |
|    -592.00     |
|     -39.00     |
|    -272.00     |
|    -557.00     |
|    -136.00     |
|     -37.00     |
|    -231.00     |
|    -408.00     |
|    -1278.00    |
|    -787.00     |
|    -968.00     |
|    -861.00     |
|    -1016.00    |
|    -417.00     |
|     -98.00     |
|    -965.00     |
|    -312.00     |
|     -85.00     |
|    -808.00     |
|    -1520.00    |
|    -1307.00    |
|    -652.00     |
|    -200.00     |
|    -530.00     |
|    -872.00     |
|    -280.00     |
|    -226.00     |
|    -1429.00    |
|    -1049.00    |
|     -36.00     |
|    -1130.00    |
|    -615.00     |
|    -229.00     |
|     -83.00     |
|    -484.00     |
|    -2008.00    |
|    -164.00     |
|    -820.00     |
|    -290.00     |
|    -1660.00    |
|    -379.00     |
|    -379.00     |
|    -444.00     |
|    -824.00     |
|    -1317.00    |
|     -26.00     |
|    -229.00     |
|    -887.00     |
|     -68.00     |
|    -1310.00    |
|    -677.00     |
|    -306.00     |
|    -592.00     |
|    -200.00     |
|    -309.00     |
+----------------+

REMOVING RECORDS WITH NEGATIVE BILLING AMOUNTS

All rows with a negative Billing_amount were deleted, as these values are invalid. This ensures that financial data in the dataset is accurate and consistent for analysis.

In [38]:
%%sql
DELETE FROM patients
WHERE Billing_amount<0 ;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

106 rows affected.

++
||
++
++

CHECKING FOR ZERO VALUES IN AGE OR ROOM_NUMBER

Rows where Age or Room_number are zero are retrieved to identify potential data entry errors or missing information. This helps ensure that numerical fields contain valid and meaningful values.

In [39]:
%%sql
SELECT
*
FROM
Patients
WHERE Age=0 OR Room_number=0;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

+------------+-----+--------+------------+-------------------+-------------------+--------+----------+--------------------+----------------+-------------+----------------+----------------+------------+--------------+---------------------+-------------+-----------+-------------------+-----------------+
| patient_id | Age | Gender | Blood_type | Medical_condition | Date_of_Admission | Doctor | Hospital | Insurance_provider | Billing_amount | Room_number | Admission_type | Discharge_Date | Medication | Test_results | Hospital_Normalized | hospital_id | doctor_id | admission_type_id | blood_type_code |
+------------+-----+--------+------------+-------------------+-------------------+--------+----------+--------------------+----------------+-------------+----------------+----------------+------------+--------------+---------------------+-------------+-----------+-------------------+-----------------+
+------------+-----+--------+------------+-------------------+-------------------+--------+----------+--------------------+----------------+-------------+----------------+----------------+------------+--------------+---------------------+-------------+-----------+-------------------+-----------------+

CHECKING FOR INVALID ADMISSION AND DISCHARGE DATES

This query retrieves rows where the Discharge_date is earlier than Date_of_Admission. Identifying such inconsistencies helps detect data entry errors and ensures that patient timelines are logical and accurate.

In [54]:
%%sql
SELECT * FROM patients
WHERE Discharge_date < date_of_admission
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

10 rows affected.

+------------+-----+--------+------------+-------------------+-------------------+------------------+----------------------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+---------------------------+-------------+-----------+-------------------+-----------------+
| patient_id | Age | Gender | Blood_type | Medical_condition | Date_of_Admission |      Doctor      |          Hospital          | Insurance_provider | Billing_amount | Room_number | Admission_type | Discharge_Date |  Medication | Test_results |    Hospital_Normalized    | hospital_id | doctor_id | admission_type_id | blood_type_code |
+------------+-----+--------+------------+-------------------+-------------------+------------------+----------------------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+---------------------------+-------------+-----------+-------------------+-----------------+
|   P23008   |  76 | Female |     A-     |      Obesity      |     2022-09-22    | Tiffany Mitchell |          Cook PLC          |       Aetna        |    27955.00    |     205     |   Emergency    |   2022-07-10   |   Aspirin   |       Normal
        |          cook plc         |    10273    |   37684   |         2         |        A-       |
|   P62056   |  43 | Female |    AB+     |       Cancer      |     2022-09-19    |  Kathleen Hanna  |        White-White         |       Aetna        |    14238.00    |     458     |     Urgent     |   2022-09-10   |  Penicillin |       Abnormal
        |         whitewhite        |    38273    |   21172   |         1         |       AB+       |
|   P02467   |  38 | Female |     A-     |    Hypertension   |     2023-08-13    |   Douglas Mayo   |        Lyons-Blair         |      Medicare      |    8000.00     |     288     |     Urgent     |   2023-05-09   |   Lipitor   |       Inconclusive
        |         lyonsblair        |    23550    |   11511   |         1         |        A-       |
|   P94877   |  38 |  Male  |    AB-     |      Obesity      |     2020-03-08    |    Justin Kim    | Torres, and Harrison Jones |       Cigna        |    17440.00    |     449     |     Urgent     |   2020-02-04   | Paracetamol |       Abnormal
        | torres and harrison jones |    36142    |   20529   |         1         |       AB-       |
|   P55697   |  67 | Female |     A-     |       Asthma      |     2023-06-28    |   Krista Smith   |         Jones LLC          |     Blue Cross     |     43.00      |     115     |    Elective    |   2023-02-07   |   Aspirin   |       Normal
        |         jones llc         |    20094    |   22833   |         3         |        A-       |
|   P96368   |  34 |  Male  |     B-     |       Asthma      |     2019-08-18    |   Jacob Huynh    |          Hart Ltd          |       Cigna        |    47909.00    |     371     |     Urgent     |   2019-01-09   |  Ibuprofen  |       Inconclusive
        |          hart ltd         |    16608    |   15288   |         1         |        B-       |
|   P93159   |  43 |  Male  |    AB-     |       Cancer      |     2023-05-24    |  Heather Garcia  |       Lopez-Phillips       |      Medicare      |    21186.00    |     494     |    Elective    |   2023-03-06   |  Ibuprofen  |       Normal
        |       lopezphillips       |    22718    |   14634   |         3         |       AB-       |
|   P83165   |  74 | Female |     B-     |    Hypertension   |     2021-09-15    | William Reynolds |         PLC Young          |       Cigna        |    49943.00    |     478     |   Emergency    |   2021-05-10   |   Lipitor   |       Normal
        |         plc young         |    29655    |   39854   |         2         |        B-       |
|   P64651   |  26 | Female |    AB+     |      Obesity      |     2021-06-09    |    Mary Logan    |  and Mcclure White Boone,  |  UnitedHealthcare  |    21784.00    |     410     |     Urgent     |   2021-01-07   | Paracetamol |       Normal
        |  and mcclure white boone  |     3013    |   26105   |         1         |       AB+       |
|   P08926   |  81 | Female |    AB-     |       Cancer      |     2020-08-23    | Kristin Martinez |  Gates Brown, and Stuart   |      Medicare      |    42685.00    |     328     |     Urgent     |   2020-08-09   |  Penicillin |       Abnormal
        |   gates brown and stuart  |    13991    |   23025   |         1         |       AB-       |
+------------+-----+--------+------------+-------------------+-------------------+------------------+----------------------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+---------------------------+-------------+-----------+-------------------+-----------------+

CREATING A BACK UP OF RECORDS WITH INVALID DATES

A backup table was created to preserve patient records where Discharge_date is earlier than Date_of_Admission. This ensures that the original data is safe before making any corrections or updates.

In [55]:
%%sql
CREATE TABLE Bad_dates_backup AS(SELECT * FROM patients
WHERE Discharge_date < date_of_admission)
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

RuntimeError: (pymysql.err.OperationalError) (1050, "Table 'Bad_dates_backup' already exists")
[SQL: CREATE TABLE Bad_dates_backup AS(SELECT * FROM patients
WHERE Discharge_date < date_of_admission)
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

EVALUATING THE DISTRIBUTION OF INVALID DATE DIFFERENCES

The differences between Date_of_Admission and Discharge_date for problematic records are grouped into time buckets. This helps understand the severity and frequency of date inconsistencies, guiding how to correct or handle these entries.

In [70]:
%%sql
SELECT 
  CASE
    WHEN DATEDIFF(date_of_admission, discharge_date) BETWEEN 0 AND 1 THEN '0-1 days'
    WHEN DATEDIFF(date_of_admission, discharge_date) BETWEEN 2 AND 7 THEN '2-7 days'
    WHEN DATEDIFF(date_of_admission, discharge_date) BETWEEN 8 AND 30 THEN '8-30 days'
    WHEN DATEDIFF(date_of_admission, discharge_date) BETWEEN 31 AND 365 THEN '31-365 days'
    ELSE '>365 days'
  END AS bucket,
  COUNT(*) AS cnt
FROM bad_dates_backup
GROUP BY bucket
ORDER BY FIELD(bucket,'0-1 days','2-7 days','8-30 days','31-365 days','>365 days');

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

4 rows affected.

+-------------+------+
|    bucket   | cnt  |
+-------------+------+
|   0-1 days  |  54  |
|   2-7 days  | 325  |
|  8-30 days  | 1231 |
| 31-365 days | 8074 |
+-------------+------+

LET FIX THIS

For records where the discharge and admission dates appear to have been entered in reverse and the difference is 8 days or less, the dates were swapped. This corrects minor data entry errors while preserving the logical timeline of patient stays.

In [73]:
%%sql
--let us Swap dates when they look like they were simply entered in reverse and the difference is small ( ≤ 8 days)--
UPDATE patients
SET date_of_admission = discharge_date,
    discharge_date = date_of_admission
WHERE discharge_date < date_of_admission
  AND DATEDIFF(date_of_admission, discharge_date) <= 8;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

278 rows affected.

++
||
++
++

CHECKING FOR INVALID MONTH VALUES IN DATES

This query identifies rows where the month in Date_of_Admission or Discharge_date exceeds 12, indicating potential data entry errors. Detecting such invalid dates ensures the integrity and reliability of temporal data.

In [72]:
%%sql
SELECT patient_id, date_of_admission, discharge_date
FROM patients
WHERE MONTH(date_of_admission) > 12 OR MONTH(discharge_date) > 12;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

+------------+-------------------+----------------+
| patient_id | date_of_admission | discharge_date |
+------------+-------------------+----------------+
+------------+-------------------+----------------+

ADDING A FLAG FOR DATES NEEDING MANUAL REVIEW

A new column needs_date_review was added to mark patient records with suspicious or invalid dates. This allows analysts to easily identify and manually inspect entries that may require correction.

In [79]:
%%sql
--Create a flag column so analysts know these rows need manual review--
    ALTER TABLE patients ADD COLUMN needs_date_review TINYINT(1) DEFAULT 0;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

RuntimeError: (pymysql.err.OperationalError) (1060, "Duplicate column name 'needs_date_review'")
[SQL: ALTER TABLE patients ADD COLUMN needs_date_review TINYINT(1) DEFAULT 0;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Patient records where the discharge date is earlier than the admission date by more than 24 days were flagged in needs_date_review. This highlights entries that likely contain significant errors and require manual investigation.

In [78]:
%%sql

UPDATE patients
SET needs_date_review = 1
WHERE discharge_date < date_of_admission
  AND DATEDIFF(date_of_admission, discharge_date) > 24;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

8378 rows affected.

++
||
++
++

Records where the discharge date precedes admission by 180 days or more were flagged as is_archived. This preserves the data for reference while excluding implausible entries from active analysis, maintaining dataset integrity.

In [88]:
%%sql
SELECT
*,
DATEDIFF(Date_of_admission,Discharge_date) AS Diff
FROM Patients
WHERE Discharge_date< Date_of_admission
    AND DATEDIFF(Date_of_admission,Discharge_date) >180
LIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

10 rows affected.

+------------+-----+--------+------------+-------------------+-------------------+------------------+--------------------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+-------------------------+-------------+-----------+-------------------+-----------------+-------------------+------+
| patient_id | Age | Gender | Blood_type | Medical_condition | Date_of_Admission |      Doctor      |         Hospital         | Insurance_provider | Billing_amount | Room_number | Admission_type | Discharge_Date |  Medication | Test_results |   Hospital_Normalized   | hospital_id | doctor_id | admission_type_id | blood_type_code | needs_date_review | Diff |
+------------+-----+--------+------------+-------------------+-------------------+------------------+--------------------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+-------------------------+-------------+-----------+-------------------+-----------------+-------------------+------+
|   P96368   |  34 |  Male  |     B-     |       Asthma      |     2019-08-18    |   Jacob Huynh    |         Hart Ltd         |       Cigna        |    47909.00    |     371     |     Urgent     |   2019-01-09   |  Ibuprofen  |       Inconclusive
        |         hart ltd        |    16608    |   15288   |         1         |        B-       |         1         | 221  |
|   P50681   |  65 |  Male  |     O+     |       Cancer      |     2022-10-12    |  Daniel Murphy   |     Group Armstrong      |      Medicare      |    45586.00    |     300     |   Emergency    |   2022-02-11   |  Penicillin |       Normal
        |     group armstrong     |    15188    |    9333   |         2         |        O+       |         1         | 243  |
|   P71488   |  57 |  Male  |     B+     |     Arthritis     |     2021-11-21    | Mark Hartman Jr. |        Howe-Kelly        |  UnitedHealthcare  |    44437.00    |     255     |   Emergency    |   2021-05-12   |  Penicillin |       Inconclusive
        |        howekelly        |    18036    |   25722   |         2         |        B+       |         1         | 193  |
|   P17290   |  27 | Female |     B-     |       Asthma      |     2021-10-27    |  Daniel Shelton  |     Sons Garcia and      |       Aetna        |    32562.00    |     485     |    Elective    |   2021-04-11   |  Ibuprofen  |       Inconclusive
        |     sons garcia and     |    34539    |    9390   |         3         |        B-       |         1         | 199  |
|   P11234   |  72 | Female |     O-     |     Arthritis     |     2020-10-24    |   Kayla Davis    |  and Brown White, Jones  |      Medicare      |    19065.00    |     490     |   Emergency    |   2020-02-11   | Paracetamol |       Abnormal
        |  and brown white jones  |     989     |   21533   |         2         |        O-       |         1         | 256  |
|   P46505   |  36 |  Male  |     O+     |     Arthritis     |     2019-11-17    |  Rebecca Morgan  |       Spears-Shah        |       Cigna        |    36870.00    |     368     |     Urgent     |   2019-01-12   |  Penicillin |       Normal
        |        spearsshah       |    34813    |   31709   |         1         |        O+       |         1         | 309  |
|   P66586   |  21 | Female |    AB+     |      Diabetes     |     2021-11-11    | Terrance Rosales |      Valentine Ltd       |       Cigna        |    5986.00     |     136     |     Urgent     |   2021-04-12   |  Penicillin |       Normal
        |      valentine ltd      |    36561    |   37148   |         1         |       AB+       |         1         | 213  |
|   P42028   |  61 | Female |     A-     |      Obesity      |     2020-09-08    | Teresa Mccarthy  |       Adams-Molina       |     Blue Cross     |    21577.00    |     308     |   Emergency    |   2020-03-10   |  Ibuprofen  |       Abnormal
        |       adamsmolina       |     153     |   37091   |         2         |        A-       |         1         | 182  |
|   P40359   |  28 | Female |     B-     |     Arthritis     |     2022-09-10    |    Chad Irwin    |  and Boyd Powell, Sims   |       Cigna        |    49700.00    |     359     |    Elective    |   2022-01-10   | Paracetamol |       Abnormal
        |   and boyd powell sims  |     886     |    6625   |         3         |        B-       |         1         | 243  |
|   P99464   |  84 |  Male  |     B+     |      Diabetes     |     2020-11-25    | Rachel Williams  | Huffman Hall Orozco, and |       Cigna        |    22982.00    |     320     |     Urgent     |   2020-02-12   |  Ibuprofen  |       Abnormal
        | huffman hall orozco and |    18166    |   31392   |         1         |        B+       |         1         | 287  |
+------------+-----+--------+------------+-------------------+-------------------+------------------+--------------------------+--------------------+----------------+-------------+----------------+----------------+-------------+--------------+-------------------------+-------------+-----------+-------------------+-----------------+-------------------+------+

In [90]:
%%sql
ALTER TABLE patients ADD COLUMN is_archived TINYINT(1) DEFAULT 0;

-- Let Archive rows with huge impossible gaps (gap > 180 days)
UPDATE patients
SET is_archived = 1
WHERE discharge_date < date_of_admission
  AND DATEDIFF(date_of_admission, discharge_date) >= 180;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

RuntimeError: (pymysql.err.OperationalError) (1060, "Duplicate column name 'is_archived'")
[SQL: ALTER TABLE patients ADD COLUMN is_archived TINYINT(1) DEFAULT 0;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

A patients_date_audit table was created to track changes made to patient dates. Records where admission and discharge dates were swapped for small gaps (≤ 8 days) were logged, preserving the original values and documenting the reason for the update.

In [91]:
%%sql
CREATE TABLE patients_date_audit (
  patient_id INT,
  old_date_of_admission DATE,
  old_discharge_date DATE,
  new_date_of_admission DATE,
  new_discharge_date DATE,
  change_reason VARCHAR(255),
  changed_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);


INSERT INTO patients_date_audit (patient_id, old_date_of_admission, old_discharge_date, new_date_of_admission, new_discharge_date, change_reason)
SELECT patient_id, date_of_admission, discharge_date, discharge_date, date_of_admission, 'swap small gap'
FROM patients
WHERE discharge_date < date_of_admission
  AND DATEDIFF(date_of_admission, discharge_date) <= 8;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

++
||
++
++

CHECKING REMAINING RECORDS WITH INVALID DATES

This query counts the number of patient records where the discharge date is still earlier than the admission date. It helps assess the effectiveness of previous corrections and highlights any remaining issues that may need further review.

In [95]:
%%sql
SELECT COUNT(*) FROM patients WHERE discharge_date < date_of_admission;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|   7146   |
+----------+

REMOVING RECORDS WITH EXTREMELY LARGE DATE ERRORS

Patient records with a discharge date preceding admission by 180 days or more were deleted. These entries are highly implausible and could distort analysis, so removing them ensures data accuracy and reliability.

In [94]:
%%sql
--let drop data have more than 6 month difference mistake
DELETE FROM patients
WHERE discharge_date < date_of_admission
  AND DATEDIFF(date_of_admission, discharge_date) >= 180;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

2101 rows affected.

++
||
++
++

CREATING THE FINAL CLEAN PATIENTS TABLE

A new table patients_clean was created containing all cleaned, standardized, and validated patient data. This table consolidates all previous cleaning steps and serves as the reliable dataset for further analysis and reporting.

In [101]:
%%sql
CREATE TABLE patients_clean AS
SELECT
  patient_id,
  Age                            AS age,
  TRIM(Gender)                   AS gender,
  COALESCE(blood_type_code, Blood_type) AS blood_type_code,
  TRIM(Medical_condition)        AS medical_condition,
  Date_of_Admission              AS admission_date,
  doctor_id,
  TRIM(Hospital_Normalized)      AS hospital_normalized,
  hospital_id,
  TRIM(Insurance_provider)       AS insurance_provider,
  CAST(
      NULLIF(
          REPLACE(REPLACE(REPLACE(Billing_amount,'$',''),'€',''),',',''),
          ''
      ) AS DECIMAL(12,2)
  ) AS billing_amount,
  Room_number                    AS room_number,
  admission_type_id,
  Discharge_Date                 AS discharge_date,
  TRIM(Medication)               AS medication,
  TRIM(Test_results)             AS test_results,
  needs_date_review,
  is_archived
FROM patients;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

52466 rows affected.

++
||
++
++

PREVIEWING THE FINAL CLEANED PATIENTS TABLE

A sample row from the patients_clean table is displayed to verify the results of the entire cleaning process. This allows a quick check that all transformations, standardizations, and corrections were applied correctly.

In [111]:
%%sql
SELECT
*
FROM
Patients_clean
LIMIT 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/healthcare_db'

1 rows affected.

+------------+-----+--------+-----------------+-------------------+----------------+-----------+---------------------+-------------+--------------------+----------------+-------------+-------------------+----------------+-------------+--------------+-------------------+-------------+
| patient_id | age | gender | blood_type_code | medical_condition | admission_date | doctor_id | hospital_normalized | hospital_id | insurance_provider | billing_amount | room_number | admission_type_id | discharge_date |  medication | test_results | needs_date_review | is_archived |
+------------+-----+--------+-----------------+-------------------+----------------+-----------+---------------------+-------------+--------------------+----------------+-------------+-------------------+----------------+-------------+--------------+-------------------+-------------+
|   P75010   |  30 |  Male  |        B-       |       Cancer      |   2024-01-31   |   26505   |   sons and miller   |    34331    |     Blue Cross     |    18856.00    |     328     |         1         |   2024-02-02   | Paracetamol |       Normal
        |         0         |      0      |
+------------+-----+--------+-----------------+-------------------+----------------+-----------+---------------------+-------------+--------------------+----------------+-------------+-------------------+----------------+-------------+--------------+-------------------+-------------+